/*
Made By SquishyBun 11/01/2024
Custom CSS for Fansly stream chat.
*/

html.bright-theme,
.bright-theme body {
	text-shadow: 2px 2px #000000;
	background-color: #00000000 !important;
	}
html.dark-theme,
.dark-theme body {
	text-shadow: 2px 2px #000000;
	background-color: #00000000 !important;
	}

:root{
	--dark-1: #00000000;				/*background color*/
	--dropdown-bg-color: #2b48cb; 		/*Donation goal background color*/
	--font-1: #ffffff;					/*Font color*/
	--blue-1: #2699f7;					/*Color of the user verified badge*/
	--scroll-bar: rgb(0 0 0 0);			
    --scroll-bar-track: rgb(0 0 0 0);
	}

/* Change visibility to "none" for the chat input textbox */
.flex-col.chat-footer{
	display: none;
	}

/* Hides the "Stream Chat" Text that start to appear on panoramic resolutions */
.dark-blue-1.bold.font-size-xs.text-center.chat-header.sm-mobile-hidden{
	display: none;
	}

/*Hides some annoying icons*/
.permissions-toggle[_ngcontent-ng-c3044974811]{
	display: none;
}
.fal.fa-ban.margin-right-1.blue-1-hover-only.pointer{
	display: none;
	}
.fal.fa-clock.margin-right-1.blue-1-hover-only.pointer{
	display: none;
	}
.pointer{
	display: none;
	}

/* Hides the scrollbar */
::-webkit-scrollbar {
	width: 0px;
	}